.AlbumFull {
    display: block;
    float: left;
    width: 440px;
    margin: 2.5rem;
    padding: 1rem;
    position: relative;
    background: #222;
}

.AlbumFull .close {
    background: #000;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 0.3;
    transition: opacity .5s ease-in-out;
}

.AlbumFull .close:hover,
.AlbumFull .close:focus {
    opacity: 1.0;
    cursor: pointer;
}

.AlbumFull img {
    border: 1px solid #333;
}

.AlbumFull h2.title {
    color: #61dafb;
    text-shadow: 1px 1px 2px black;
    font-style: italic;
    font-size: 2rem;
    display: block;
    padding: 0;
    margin: 0.2rem 0;
}

.AlbumFull .released {
    display: block;
    color: #fff;
    font-size: 1rem;
}

.AlbumFull .tracks {
    display: block;
    margin-top: 1rem;
    width: 100%;
    min-height: 40px;
}