.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3em;
	color: #61dafb;
	text-shadow: 1px 1px 2px black;
}

.container {
	display: flex;
	flex-flow: row wrap;
  justify-content: flex-end;
	padding: 2rem;
}