.Track {
    display: block;
    background-color: #333;
    margin: 0.2rem 0;
    padding: 0.5rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.Track .duration {
    display: block;
    float: right;
    color: #999;
    font-weight: 300;
    width: 40px;
    text-align: right;
}

.Track .number {
    display: block;
    float: left;
    width: 40px;
    color: #999;
    font-weight: 300;
    text-align: left;
}

.Track .title {
    display: block;
    margin: 0 60px 0 80px;
    color: #fff;
    font-weight: 700;
    text-align: left;
}

.Track .play,
.Track .stop {
    position: absolute;
    top: 0;
    left: 40px;
    width: 40px;
    height: 35px;
    line-height: 35px;
    z-index: 200;
    color: #fff;
    background: transparent;
    border: none;
    text-align: center;
}

.Track .play:hover,
.Track .stop:hover {
    color: #61dafb;
}

.Track .play {
    display: block;
}

.Track .stop {
    display: none;
}

.Track.selected .title {
    color: #61dafb;
}

.Track.selected .duration,
.Track.selected .number {
    color: #ddd;
}

.Track.selected .play {
    display: none;
}

.Track.selected .stop {
    display: block;
}

.Track:hover {
    background-color: #444;
}